[submodule "api"]
	path = api
	url = ../mist.api.git
[submodule "ui"]
	path = ui
	url = ../mist.ui.git
[submodule "landing"]
	path = landing
	url = ../mist.landing.git
[submodule "tests"]
	path = tests
	url = ../mist.tests.git
[submodule "rbac"]
	path = rbac
	url = ../mist.rbac.git
[submodule "manage"]
	path = manage
	url = ../mist.manage.git
[submodule "insights"]
	path = insights
	url = ../mist.insights.git
[submodule "orchestration"]
	path = orchestration
	url = ../mist.orchestration.git
[submodule "auth"]
	path = auth
	url = ../mist.auth.git
[submodule "docker/nginx/static/ui/mist-rbac-behavior"]
	path = docker/nginx/static/ui/mist-rbac-behavior
	url = ../mist-rbac-behavior
[submodule "docker/nginx/static/novnc"]
	path = docker/nginx/static/novnc
	url = https://github.com/novnc/noVNC.git
[submodule "tsfdb"]
	path = tsfdb
	url = ../tsfdb-server
[submodule "pricing"]
	path = pricing
	url = ../mist.pricing.git

