[submodule "api"]
	path = api
	url = ../milos-api.git
[submodule "ui"]
	path = ui
	url = ../milos-ui.git
[submodule "landing"]
	path = landing
	url = ../milos-landing.git
[submodule "tests"]
	path = tests
	url = ../milos-tests.git
[submodule "rbac"]
	path = rbac
	url = ../milos-rbac.git
[submodule "manage"]
	path = manage
	url = ../milos-manage.git
[submodule "insights"]
	path = insights
	url = ../milos-insights-plugin.git
[submodule "orchestration"]
	path = orchestration
	url = ../milos-orchestration.git
[submodule "auth"]
	path = auth
	url = ../milos-auth.git
[submodule "docker/nginx/static/ui/mist-rbac-behavior"]
	path = docker/nginx/static/ui/mist-rbac-behavior
	url = ../milos-rbac-behavior.git
[submodule "docker/nginx/static/novnc"]
	path = docker/nginx/static/novnc
	url = ../milos-noVNC.git
[submodule "pricing"]
	path = pricing
	url = ../milos-pricing.git
[submodule "portal"]
	path = portal
	url = ../milos-portal.git
